/assets/music/Gameboy Nightgirl.wav
/assets/music/shared/FM-84 - Running In The Night (feat. Ollie Wride).flac

/assets/image/background.png
/assets/image/Playlist0/background.jpg
/assets/music/Playlist0/toe - サニーボーイ・ラプソディ.flac
/assets/music/Playlist0/14 暮れゆく.wav
/assets/music/Playlist1/22 Nil! Nil!.wav
/assets/music/c9659b13-1cc1-41cc-bfe1-6e0496357853/
/node_modules/

out/