/assets/music/Gameboy Nightgirl.wav
/assets/music/FM-84 - Running In The Night (feat. Ollie Wride).flac

/assets/image/background.png
/assets/image/background.jpg
/assets/music/toe - サニーボーイ・ラプソディ.flac
/assets/music/14 暮れゆく.wav
/assets/music/22 Nil! Nil!.wav
